@charset "UTF-8";

.filter-button {
    cursor: pointer;
}

.filter-svg {
    fill: var(--light);
}

.filter-dropdown {
    display: none;
    position: fixed;
    color: var(--light);
    background-color: var(--dark);
    transition: opacity 1s;
    min-width: 160px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-duration: 0.2s;
}

.filter-dropdown.open {
    display: block;
}

/* DESKTOP */
@media (min-width: 768px) {
    .projects-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .projects-list {
        display: block;
    }

    .project {
        margin-bottom: 20px;
    }
}

.project {
    color: var(--light);
    background-color: var(--dark);
    border-radius: 0.5rem;
    /* border: var(--light) 1px solid; */
    padding: 1rem 2rem;
    box-shadow:
        /* bottom shadow */
        0px 5px 10px rgba(0, 0, 0, 0.4),
        /* right shadow */
        5px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s;
}

.project:hover {
    scale: 1.05;
}

.project-title:before {
    content: '> ';
    color: var(--primary);
}

.project-infos {
    margin: 0.5rem 0;
    display: flex;
    gap: 15px;
    font-size: small;
    text-align: center;
}