@charset "UTF-8";

/* DESKTOP */
@media (min-width: 1024px) {
    .competences-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .competence {
        padding: 1rem 2.5rem;
    }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
    .competences-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .competence {
        padding: 1rem 2rem;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    .competences-list {
        display: block;
    }

    .competence {
        margin-bottom: 20px;
        padding: 1rem 1rem;
    }
}

.competence {
    color: var(--light);
    background-color: var(--dark);
    border-radius: 0.5rem;
    /* border: var(--light) 1px solid; */
    box-shadow:
        /* bottom shadow */
        0px 5px 10px rgba(0, 0, 0, 0.4),
        /* right shadow */
        5px 0px 10px rgba(0, 0, 0, 0.4);
}

.title-block {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center
}

.numbers-sentence {
    margin: 0.5rem 0;
    font-size: small;
}

.empty-range {
    width: 100%;
    height: 20px;
    background-color: var(--light);
    border-radius: 25px;
    margin: 0.5rem 0;
}

.fulfilled-range {
    height: 100%;
    width: 50%;
    background-color: var(--primary);
    border-radius: 25px 0 0 25px;
    border-right: 3px solid var(--dark);
}

.fulfilled-range.percentage-10 {
    width: 10% !important;
}

.fulfilled-range.percentage-20 {
    width: 20% !important;
}

.fulfilled-range.percentage-30 {
    width: 30% !important;
}

.fulfilled-range.percentage-30 {
    width: 30% !important;
}

.fulfilled-range.percentage-40 {
    width: 40% !important;
}

.fulfilled-range.percentage-50 {
    width: 50% !important;
}

.fulfilled-range.percentage-60 {
    width: 60% !important;
}

.fulfilled-range.percentage-70 {
    width: 70% !important;
}

.fulfilled-range.percentage-80 {
    width: 80% !important;
}

.fulfilled-range.percentage-90 {
    width: 90% !important;
}

.fulfilled-range.percentage-100 {
    width: 100% !important;
    border-radius: 25px 25px 25px 25px !important;
}